@tailwind base;
@tailwind components;
@tailwind utilities;
body::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #c3d4ff; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #c3d4ff; /* color of the scroll thumb */
  border-radius: 24px; /* roundness of the scroll thumb */
}
